<li class="list-group-item d-flex justify-content-between lh-sm">
  <div>
    <h6 class="my-0"><%= cart_item.item.name %></h6>
    <small class="text-body-secondary"> price: $<%= cart_item.item.price %> / </small>
    <small class="text-body-secondary">qty: <%= cart_item.quantity %></small>
  </div>
  <span class="text-body-secondary">$<%= cart_item.total_price %></span>
</li>
